@import "_variables.scss";
@import "_header-footer.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //font-size: 62.5%;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.portal {
  height: 80vh;
  width: 40vw;
  background-image: url("../img/portal.jpg");
  background-repeat: no-repeat;
  position: relative;
  top: 4rem;
  right: 2.7rem;
  background-size: cover;
  //background-color: blue;
}

.search {
  background-color: green;
  width: 35vw;
  height: 6vh;
  margin-top: 48vh;
  position: absolute;
}

.main,
.season {
  background-color: rgb(18, 59, 59);
  padding: 2rem 5rem;
}

.main-split {
  display: flex;
}

.main-img {
  border: 1px solid black;
  height: 50vh;
  width: 50%;
}

.show-poster {
  max-width: 75%;
  max-height: 45vh;
}

.main-description {
  border: 1px solid black;
  height: 50vh;
  width: 50%;
}

.main-ratings {
  border: 1px solid black;
}

.topsection {
  border: 1px solid black;
}

.shows-box {
  display: flex;
  justify-content: space-around;
}

.show {
  border: 1px solid black;
  width: 18rem;
}

.showposter {
  max-width: 18rem;
}

.chartjs-charts {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
}
