@import "_variables.scss";
@import "_header-footer.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  //font-size: 62.5%;
}

.header {
  height: 100vh;
  display: flex;
  position: relative;
  background-color: white;
}

.rickmorty {
  position: absolute;
  transform: scaleX(-1);
  left: 60vw;
  top: 50vh;
  height: 50vh;
}

.cover {
  height: 50vh;
  width: 100vw;
  position: absolute;
  //top: auto;
  //right: 0;
  object-fit: cover;
  //object-position: 30%;
}

nav {
  //background-color: white;

  z-index: 2;
  width: 50%;
  height: 50%;
  color: #916356;
  //overflow: hidden;
  margin-top: 50vh;
  flex-direction: row;
}

.nav-closed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
  position: absolute;
  font-family: $title;
}
h3 {
  font-size: 2.3rem;
}

.nav-closed ul a {
  text-decoration: none;
  color: #916356;
}
.navlinks {
  display: flex;
  justify-content: space-evenly;
  //background-color: red;
  width: 90%;
  font-size: 2em;
}

.nav-open {
  z-index: 2;
  position: absolute;
  height: 50%;
  width: 50%;
  // top: 50%;
  //margin-top: 50%;
  display: flex;
  margin-left: 50vw;
  background-color: #916356;

  //flex-direction: row;
  justify-content: center;
  align-items: center;
  //opacity: 0;
  //pointer-events: none;
}

.search {
  background-color: white;
  width: 35vw;
  height: 6vh;
}
.searchoptions,
option,
.searchbar,
.searchbox,
.searchenter {
  font-family: $main-font;
  font-size: 1rem;
}
.main,
.season {
  background-color: rgb(18, 59, 59);
  padding: 2rem 5rem;
}

.main-split {
  display: flex;
}

.main-img {
  border: 1px solid black;
  height: 50vh;
  width: 50%;
}

.show-poster {
  max-width: 75%;
  max-height: 45vh;
}

.main-description {
  border: 1px solid black;
  height: 50vh;
  width: 50%;
}

.main-ratings {
  border: 1px solid black;
}

.topsection {
  border: 1px solid black;
}

.shows-box {
  display: flex;
  justify-content: space-around;
}

.show {
  border: 1px solid black;
  width: 18rem;
}

.showposter {
  max-width: 18rem;
}

.chartjs-charts {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
}
